@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('BeVietnamPro-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('BeVietnamPro-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('BeVietnamPro-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('BeVietnamPro-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Tinos-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('Tinos-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Tinos-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('Tinos-700-italic.woff2') format('woff2');
}
